body {
    padding-top: 70px;
}
textarea {
    resize: none;
}
.system {
    font-weight: bold;
    color: #FF9691;
}
.protection {
    font-weight: bold;
    color: #8A2BE2;
}
footer .container {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
td .status-ok {
    color: green;
}
.bottom-line {
    border-bottom: 1px solid #e5e5e5;
}
.message-date-parent {
    position: relative;
}
.message-date {
    font-size: 13px;
    color: grey;
    position: absolute;
    bottom: 4px;
    right: 0;
}
.commited-by {
    font-size: 13px;
    color: grey;
}
.pagination>li>span {
    cursor: pointer;
}
.global-mask {
    position: fixed;  
    z-index: 1040;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    filter: alpha(opacity=50);
    opacity: 0.5;  
    overflow: hidden;  
    background-color: #000; 
}